<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigliang.e_commerce.mapper.LotteryMapper">
    <select id="getLotteryByActID" parameterType="string" resultType="lottery">
        select * from lottery where actID = #{actID}
    </select>

    <insert id="addLottery" parameterType="lottery">
        insert into lottery(actID, winningStartCode, winningEndCode, codeScope)
        values(#{actID}, #{winningStartCode}, #{winningEndCode}, #{codeScope})
    </insert>

    <delete id="delLottery" parameterType="string">
        delete from lottery where actID = #{actID}
    </delete>
</mapper>